project_pipeline/.snakemake/
env/
project_pipeline/data/input
project_pipeline/data/output
project_pipeline/sample_data/input/
project_pipeline/sample_data/output/
google_cloud_api/
initial_msas/
multi-domain_msas/
project_pipeline/scripts/__pycache__/
project_pipeline/__pycache__/